﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container text-center">
    <h1>@ViewBag.Title.</h1>
    <hr />
        <p>
            Please check your email to reset your password.
        </p>
        <div class="btn btn-outline">@Html.ActionLink("Back to Login", "Login")</div>
</div>
