﻿@model King_Xiong.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}


<div class="container bg-body">
    <h2 class="text-center">Delete</h2>
    <hr />
    <h3>Are you sure you want to delete this?</h3>
    <div class="dl-horizontal">
        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
        <h4>
            @Html.DisplayFor(model => model.Created)
        </h4>
        <h3>
            @Html.Raw(Model.Body)
        </h3>
        <div>
            @if (Model.MediaURL != null)
            {
                <img class="img-responsive" src="@Model.MediaURL" alt="" />
            }
        </div>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <div class="btn btn-success">@Html.ActionLink("Back to List", "Details", "BlogPosts", new { slug = Model.Slug})</div>     
        </div>
        <br />
    }
</div>
