﻿@using Microsoft.AspNet.Identity;
@model King_Xiong.Models.BlogPost

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>@Html.DisplayFor(m => m.Title)</h2>
        </div>
        <div class="col-md-12 text-right">
            <p>Date: @Model.Created.ToString("MM/dd/yyyy")</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            @if (Model.MediaURL != null)
            {
                <img class="center-block img-responsive" src="@Model.MediaURL" alt="" width="55%" />
            }
        </div>
        <div class="col-md-7">
                @Html.Raw(Model.Body)
        </div>
    </div>

    <div class="row">
        <br />
        
        <h2 class="text-center">Comments</h2>
        <div class="col-md-12">
            @* Model.Comments - collection of comments in the Model named Comments that is in a BlogPosts*@
            @* var comment in Model.Comments - a single comment "object" thats has been pulled out from Model.comment*@
            @* foreach loop - for each number of blogpost comments*@
            @foreach (var comment in Model.Comments)
            {
                var sameUser = User.Identity.GetUserId();
                //From the list,  we are grabbing every 'Comments'
                <div style="border:solid; border-color:black; width: 700px; height: auto">
                    @if (comment.Author.DisplayName != null)
                    {
                        <div>
                            <div style="font-size:24px"><text>&nbsp;</text>@comment.Author.DisplayName</div>
                            <div style="font-size:10px"><text>&nbsp;</text>@comment.Created.ToString("MM/dd/yyyy")</div>
                        </div>
                    }
                    else
                    {
                            <h3>@comment.Author.Email</h3>
                            <h5>@comment.Created.ToString("MM/dd/yyyy")</h5>
                    }

                    <h3>@Html.Raw(comment.Body)</h3>
                </div>
                if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") || User.IsInRole("Moderator") || sameUser == comment.AuthorId)
                    {
                        <a href="@Url.Action("Edit", "Comments", new { slug = Model.Slug, id = comment.Id})" class="btn btn-outline"><i class="fa fa-edit"></i> Edit Comment</a>
                        <a href="@Url.Action("Delete", "Comments", new { slug = Model.Slug, id = comment.Id})" class="btn btn-outline"><i class="fa fa-trash"></i> Delete Comment</a>                                            
                    }
                }
            }
            @* This is a form we use to create a comment by accessing the "create" actionresult from the "comments" controller  *@
            <div class="container comment-form text-center">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <div class="form-group ">
                            <label for="comment-new_textarea" class="sr-only">Enter your comment</label>
                            <textarea class="form-control comment-form text-center" rows="2" id="body" name="body" placeholder="Comment Post"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline">Comment</button>
                        <br />
                        <br />
                        <br />
                    }
                }
            </div>
        </div>
    </div>
    <div class="text-center">
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("AdIndex", "BlogPosts")" class="btn btn-outline" style="width: 150px"><i class="fa fa-table"></i>Admin Index</a>
                <a href="@Url.Action("Edit", "BlogPosts", new { slug = Model.Slug})" class="btn btn-outline" style="width: 150px"><i class="fa fa-edit"></i>Edit </a>
            }
            <a href="@Url.Action("Index", "BlogPosts", new { slug = Model.Slug})" class="btn btn-outline"><i class="fa fa-sign-out"></i>Back to List</a>
        }
    </div>
</div>
<br>
<br>
<br>
<br>







