﻿@model King_Xiong.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h1 class="container text-center">Delete</h1>

<div class="container">
    <h2 class="text-center">Are you sure you want to delete this?</h2>
    <hr />
    <dl class="dl-horizontal" style="font-size:20px">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-outline" />
            <div class="btn btn-outline" href="@Url.Action("Index", "BlogPosts")"><i class="fa fa-sign-in"></i>Back To List</div>
            <br/>
            <br />
        </div>
    }
</div>
<a href="@Url.Action("Details","BlogPosts", new { slug = Model.Post.Slug})" class="btn btn-outline"><i class="fa fa-backward"></i>Back</a>
