﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        object nameCheck = ViewData["DisplayName"];

        if (nameCheck == null)
        {
            nameCheck = User.Identity.Name;
        }

            @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-magic"></i><text>&nbsp;</text>@nameCheck</a>
            @*@Html.ActionLink("" + nameCheck, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i>Register</a></li>
        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-sign-in"></i>Login</a></li>
    </ul>
}
